<!--TODO: add more content to this page.-->
<!DOCTYPE >
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="../styles.css"/>
    <title>Home</title>
</head>
<body>
<main class="content">
    <a href="../index.html">
        <img
                class="logo"
                src="../images/Isla-black-nobg.png"
                alt="Isla Logo of a food truck"
        />
    </a>
    <div class="ribbon">
        <ul class="navLinks">
            <li>
                <a href="../index.html">
                    <button class="button">Home</button>
                </a>
            </li>
            <li>
                <a href="about-us.html">
                    <button class="button">About Me</button>
                </a>
            </li>
            <li>
                <a href="blog.html">
                    <button class="button">Blog</button>
                </a>
            </li>
            <li>
                <a href="product-page.html">
                    <button class="button">Templates</button>
                </a>
            </li>
            <li>
                <a href="contact-us.html">
                    <button class="button">Contact</button>
                </a>
            </li>
        </ul>
    </div>
    <hr>
    <h1 class="article-head">About Me</h1>
    <section id="about-section">
        <img src="../images/Pass%20Photo.jpg" alt="Author" class="featured-image-left">
        <div class="main-text">
            <h2>From Cook to Developer</h2>
            <p>
                Hi there, my name is Christian. I'm currently a Computer Science student at the Universidad del Sagrado
                Corazón. Believe it or not, before that I worked in the restaurant industry as a cook for almost 10 years.
                I dreamed of becoming a chef, but things got complicated fast when my mental and physical health started
                to get impacted by that pursuit. It turns out I wasn't willing to truly chase it, much less with the income
                I would make in my hometown as a chef.
            </p>
            <p>
                That's when I decided to chase something different. I have always been passionate about technology,
                and so I decided to pursue a career as a programmer instead. That's when I went back to school, and so
                here we are, almost 4 years after quitting the kitchen.
            </p>
            <p>
                It's been a journey that has been incredibly rewarding. I've learned a lot about software development.
                I actually currently work as a software developer at a small software consulting company in Puerto Rico.
                It's been a pretty intense learning experience, and I'm excited to continue my journey.
            </p>
        </div>
    </section>
    <br>
    <footer>
        <p>Copyright &copy; 2025</p>
    </footer>
    <br>
    <br>
</main>
</body>
</html>
