<!DOCTYPE >
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="../styles.css"/>
    <title>Home</title>
</head>
<body>
<main class="content">
    <a href="../index.html">
        <img
                class="logo"
                src="../images/Isla-black-nobg.png"
                alt="Isla Logo of a food truck"
        />
    </a>
    <div class="ribbon">
        <ul class="navLinks">
            <li>
                <a href="../index.html">
                    <button class="button">Home</button>
                </a>
            </li>
            <li>
                <a href="about-us.html">
                    <button class="button">About Me</button>
                </a>
            </li>
            <li>
                <a href="blog.html">
                    <button class="button">Blog</button>
                </a>
            </li>
            <li>
                <a href="product-page.html">
                    <button class="button">Templates</button>
                </a>
            </li>
            <li>
                <a href="contact-us.html">
                    <button class="button">Contact</button>
                </a>
            </li>
        </ul>
    </div>
    <hr>
    <main>
        <div style="margin: 1rem 1rem">
            <div class="search-filter">
                <div class="filter-options">
                    <button class="filter-btn active">✓ New</button>
                    <button class="filter-btn">Price ascending</button>
                    <button class="filter-btn">Price descending</button>
                    <button class="filter-btn">Free</button>
                </div>
                <div class="search-bar">
                    <label>
                        <input type="text" placeholder="Search templates" class="search-input">
                    </label>
                    <button class="search-btn">
                        🔍
                    </button>
                </div>
            </div>

            <div class="templates-grid">
                <div class="template-card">
                    <div class="template-img">
                        <img src="/images/gantt.png" alt="Purchase Orders - Excel template">
                    </div>
                    <div class="template-info">
                        <div class="template-title">Purchase Orders - Excel</div>
                        <div class="template-price">$19.99</div>
                    </div>
                </div>

                <div class="template-card">
                    <div class="template-img">
                        <img src="../images/spreadsheet.webp" alt="Modern Gantt - Excel template">
                    </div>
                    <div class="template-info">
                        <div class="template-title">Modern Gantt - Excel</div>
                        <div class="template-price">$39.99</div>
                    </div>
                </div>

                <div class="template-card">
                    <div class="template-img">
                        <img src="../images/inventoryword.jpg" alt="Inventory Record - Word template">
                    </div>
                    <div class="template-info">
                        <div class="template-title">Inventory Record - Word</div>
                        <div class="template-price">$19.99</div>
                    </div>
                </div>

                <div class="template-card">
                    <div class="template-img">
                        <img src="../images/checklist.png" alt="Checklist Template - Word template">
                    </div>
                    <div class="template-info">
                        <div class="template-title">Checklist Template - Word</div>
                        <div class="template-price free-label">Free</div>
                    </div>
                </div>

                <div class="template-card">
                    <div class="template-img">
                        <img src="/images/showplan.webp" alt="Show Menu - PowerPoint template">
                    </div>
                    <div class="template-info">
                        <div class="template-title">Show Menu - PowerPoint</div>
                        <div class="template-price">$9.99</div>
                    </div>
                </div>

                <div class="template-card">
                    <div class="template-img">
                        <img src="../images/Business_Model_Canvas.png" alt="Restaurant Business Plan - BMC">
                    </div>
                    <div class="template-info">
                        <div class="template-title">Restaurant Business Plan - BMC</div>
                        <div class="template-price">$9.99</div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p>Copyright &copy; 2025</p>
    </footer>
</main>
</body>
</html>
